<div class='astrologianback'></div>
<div class="background"></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<div>
<p class="jobname">Astrologian</p>
<p></p>
</div>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>
<p>“Ever has man coveted knowledge, and none more so than that of his fate. Thus did he labor to master the skill of foresight—but initial efforts bore little fruit. That is, until he looked to the stars above, which foretell the coming seasons, and learned to read the heavens.
Though this gift is known today as astrology, the people of Sharlayan saw fit to not only read the stars, but to write their movements as well. By attuning their aetherial energies to that of constellations, they learned to wield magicks with heretofore unseen properties.
Thus was astromancy born—a new form of magick which grants its users power over fate. Employing a star globe and divining deck in their miraculous deeds, fortune always smiles upon these masters of arcana.”</p>
</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>
<p></p>
</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
<div></div>
<img src="../core/assets/gauge/astrologian.png" id="gauge">
</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>
<p></p>
</div>
<!--trait & cross role-->
<div class="lore"><p class="header">Traits</p>
<!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>