<div class='bardback'></div>
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

    <!--job name-->
<div>
    <p class="jobname">Bard</p>
</div>
    <!--table of contents-->
    <!--basic lore-->
<div class="lore">
    <p class="header">Lore</p>
    <p>“The word "bard" ordinarily puts folk in mind of those itinerant minstrels, fair of voice and nimble of finger, who earn their coin performing in taverns and the halls of great lords. Few know, however, that bards in fact trace their origins back to the bowmen of eld, who sang in the heat of battle to fortify the spirits of their companions.
    In time, their impassioned songs came to hold sway over the hearts of men, inspiring their comrades to great feats and granting peace unto those who lay upon the precipice of death.” - Game Description</p>
</div>

    <!--stats needed weapon materia-->
<div class="lore">
    <p class="header">Basic Info</p>
    <p>Bard was always a support in Final Fantasy that boosted morale through music. In FFXIV Bard was mixed with Ranger wielding a bow focusing on damage and support.</p>
</div>
    <!--job playstyle/description gauge included-->
<div class="lore">
    <p class="header">Gameplay & Playstyle</p>
    <div>Bards are very mobile DPS that focus on Damage over time and critical hits. Through the support songs they have they buff their team and give access to more damaging abilities for the bard</div>
    <img src="../core/assets/gauge/bard.png" id="gauge">
</div>
    <!-- STATS & MATERIA ADD LINK TO STAT PAGE -->
<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>
    <!--ACTIONS-->
<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>
    <!--TRAIT & CROSS ROLE-->
<div class="lore">
    <p class="header">Traits</p>
    <!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>