<div class='blackmageback'></div>
<div class="background"></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<div>
<p class="jobname">Black Mage</p>
<p></p>
</div>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>
<p>“In days long past, there existed an evil clan and arcane art known as black magic—a potent magic of pure destructive force born forth by a sorceress of unparalleled power. Those who learned to wield this instrument of ruin came to be called black mages, out of both fear and respect for their gift. Yet great power served to corrupt the judgment of mortal man, and so he unknowingly set out upon the path of ruin.
Adventurers who take the black will become agents of devastation, capable of annihilating those who oppose them through little more than the force of their will.”</p>
</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>
<p>Black Mages use staves as a medium for their powerful spells. Black Mage focuses on powerful spells to overcome foes, no games.</p>
</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
<div>Black Mage have many different pieces in their gauge and how they use it. The most important is Astral Fire and Umbral Ice. These are th most important to manage and using the most powerful spells available to you. </div>
<img src="../core/assets/gauge/blackmage.jpg" id="gauge">
</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>
<p></p>
</div>
<!--trait & cross role-->
<div class="lore"><p class="header">Traits</p>
<!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>