<div class='darkknightback'></div>
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

    <!--job name-->
<div>
    <p class="jobname">Dark Knight</p>
</div>
    <!--table of contents-->
    <!--basic lore-->
<div class="lore"><p class="header">Lore</p>
    <p>“The pious Ishgardian clergy guide the flock, and the devout knights protect the weak. Yet even the holiest of men succumb to the darkest of temptations.
    None dare to administer justice to these sacrosanct elite residing outside the reach of the law. Who, then, defends the feeble from the transgressions of those meant to guide and protect them?
    A valiant few take up arms to defend the downtrodden, and not even the holy priests and knights can escape their judgment. Pariahs in their own land, they are known by many as “dark knights.”
    These sentinels bear no shields declaring their allegiance. Instead, their greatswords act as beacons to guide the meek through darkness.”</p>
</div>

    <!--stats needed weapon materia-->
<div class="lore">
    <p class="header">Basic Info</p>
    <p Although Dark Knight was generally seen as a DPS in other Final Fantasy games with black magic instead, FFXIV has captured the Dark Knight as a tank while keeping what makes it special. Greatsword in hand and Focusing on MP management to unleash its specialty, Darkness.</p>
</div>
    <!--job playstyle/description gauge included-->
<div class="lore">
    <p class="header">Gameplay & Playstyle</p>
    <div>Dark Knights focus on MP management to use both it's most powerful damage abilities such as Carve and Split and defensive abilities such as The Blackest Night. Dark Knight has the special capability to sustain its DPS stance while in tank stance, this opens up the dark knight to tank while not having to sacrifice so much on damage.</div>
    <img src="../core/assets/gauge/darkknight.png" id="gauge">
</div>
    <!-- STATS & MATERIA ADD LINK TO STAT PAGE -->
<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>
    <!--ACTIONS-->
<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>
    <!--TRAIT & CROSS ROLE-->
<div class="lore">
    <p class="header">Traits</p>
    <!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>