<div class='dragoonback'></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<div>
<p class="jobname">Dragoon</p>
<p></p>
</div>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>
<p>“Of all the things that are symbolic of the nation of Ishgard, few are more recognized than the dragoon. Born amidst the timeless conflict between men and dragons, these lance-wielding knights have developed an aerial style of combat, that they might better pierce the scaled hides of their mortal foes.
Taking to the firmament as though it were an extension of the land, they descend upon the enemy with every onze of their bodies behind the blow. It is this penetrative power that characterizes the dragoon.” - Game Description</p>
</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>
<p>Dragoon is Final Fantasy's spear wielding class with a twist. Wielding a spear and using jumps as it's unique ability to both avoid damage and deal damage. Dragoons are the first line against dragons due to their ability to reach unreal heights.</p>
</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
<div>Dragoons focus on a mix of utility and damage for the team. Dragoons have Battle Litany and Eye of the Dragon for example to assist teammates while also buffing themselves. Dragoon use few positionals and instead focus on managing their blood of the dragon to gain access to some of dragoons most powerful attacks.</div>
<img src="../core/assets/gauge/dragoon.png" id="gauge">
</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>
<p></p>
</div>
<!--trait & cross role-->
<div class="lore"><p class="header">Traits</p>
<!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>