<div class='machinistback'></div>
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

    <!--job name-->
<div>
    <p class="jobname">Machinist</p>
</div>
    <!--table of contents-->
    <!--basic lore-->
<div class="lore">
    <p class="header">Lore</p>
    <p>“The war with Dravania rages on, brutal and unrelenting. With no end in sight, the Holy See grows desperate. As her dragoons lay down their lives in defense of their home, Ishgard turns to technology to protect her sons and daughters. Great cannons and ballistae now line the city walls, plucking dragons from the sky.
    Following the example of Cid Garlond, who has demonstrated the potency of magitek, the Skysteel Manufactory works tirelessly on the development of advanced armaments. As new and devastating weapons are brought to the fray, a new class of champion arises to wield them―the machinist.” - Game Description</p>
</div>

    <!--stats needed weapon materia-->
<div class="lore">
    <p class="header">Basic Info</p>
    <p>Machinists Utilize guns and autocannons to deal damage and also provide buffs for the party. Just like Bard, Machinist is focused on party buffs with decent DPS</p>
</div>
    <!--job playstyle/description gauge included-->
<div class="lore">
    <p class="header">Gameplay & Playstyle</p>
    <p>Machinist uses the heat gauge </p>
    <img src="../core/assets/gauge/machinist.png" id="gauge">
</div>
    <!-- STATS & MATERIA ADD LINK TO STAT PAGE -->
<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>
    <!--ACTIONS-->
<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>
    <!--TRAIT & CROSS ROLE-->
<div class="lore">
    <p class="header">Traits</p>
    <!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>