<div class='monkback'></div>
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

    <!--job name-->
<div>
    <p class="jobname">Monk</p>
</div>
    <!--table of contents-->
    <!--basic lore-->
<div class="lore">
    <p class="header">Lore</p>
    <p>“Though now under Garlean rule, the city-state of Ala Mhigo once boasted the greatest military might of all Eorzea. Among its standing armies were the monks—ascetic warriors as dreaded by foes on the field of battle as the city-state's great pikemen.
    The monks comprised an order known as the Fist of Rhalgr, and it was to this god—the Destroyer—that they devoted their lives of worship. By mastering seats of power within the body known as chakra, they are capable of performing extraordinary physical feats.”
    -Game Description</p>
</div>

    <!--stats needed weapon materia-->
<div class="lore">
    <p class="header">Basic Info</p>
    <p>Monk is the job that brings fists to a sword fight. Monks are a high intensity high speed DPS, completely focused on pummeling it's foes focusing on strength and critical hits</p>
</div>
    <!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
    <div>Monk is one of the more selfish DPS, providing little utility for the team but very high solo damage. Monk's damage is highly focused on keeping your greased lightning stacks up and positional attacks</div>
    <img src="../core/assets/gauge/monk1.png" id="gauge">
    <img src="../core/assets/gauge/monk2.png" id="gauge">
</div>
    <!-- STATS & MATERIA ADD LINK TO STAT PAGE -->
<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>
    <!--ACTIONS-->
<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>
    <!--TRAIT & CROSS ROLE-->
<div class="lore">
    <p class="header">Traits</p>
    <!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>