<div class='ninjaback'></div>
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

    <!--job name-->
<div>
    <p class="jobname">Ninja</p>
</div>
    <!--table of contents-->
    <!--basic lore-->
<div class="lore">
    <p class="header">Lore</p>
    <p>“Hailing from the war-torn lands of the Far East, the secret arts of the ninja were born of necessity, and have since given rise to a unique breed of highly-trained combatants.Able to manipulate the vital energies of the land, the air, and living beings, they manifest their power through the weaving of signs, unleashing a wide array of attacks against their foes. Master the arts of the ninja and learn to bend the tide of battle to your will.” - Game Description</p>
</div>

    <!--stats needed weapon materia-->
<div class="lore">
    <p class="header">Basic Info</p>
    <p>Ninja is well.... a ninja, but final fantasy ninjas have the unique ability to use ninjitsu which give access to magical attacks and buffs.Ninja uses two daggers some may call kunai. Ninja uses ninjitsu and stealth to provide high utility and damage for the team.</p>
</div>
    <!--job playstyle/description gauge included-->
<div class="lore">
    <p class="header">Gameplay & Playstyle</p>
    <div>Using Ninjitsu to deal magic damage and strengthen themselves. Ninja's main strength however is in it's utility providing enmity manipulation, increase damage and more.</div>
    <img src="../core/assets/gauge/ninja.png" id="gauge">
</div>
    <!-- STATS & MATERIA ADD LINK TO STAT PAGE -->
<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>
    <!--ACTIONS-->
<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>
    <!--TRAIT & CROSS ROLE-->
<div class="lore">
    <p class="header">Traits</p>
    <!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>