<div class='paladinback'></div>
<div class="background"></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<div>
<p class="jobname">Paladin</p>
<p></p>
</div>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>
<p>“For centuries, the elite of the Sultansworn have served as personal bodyguards to the royal family of Ul'dah. Known as paladins, these men and women marry exquisite swordplay with stalwart shieldwork to create a style of combat uncompromising in its defense. Clad in brilliant silver armor, they charge fearlessly into battle, ever ready to lay down their lives for their liege. To be a paladin is to protect, and those who choose to walk this path will become the iron foundation upon which the party's defense is built.” ~Game Description</p>
</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>
<p>Paladin is your sword and board of Final Fantasy while wielding holy magic to enhance it's abilities. The Paladin's uses heavy armor and focuses on the Vitality attribute.</p>
</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
<div>The Paladin is your end all be all main tank. Paladin utilizes healing magic and damage mitigation to provide a solid frontline. Paladin is the only job wielding a shield that with abilities can reliably protect you from damage. Paladin has many party mitigation tools such as Passage of Arms and Cover to protect it's allies. Paladin uses the oath gauge to perform some of it's abilities.</div>
<img src="../core/assets/gauge/paladin1.png" id="gauge">
<img src="../core/assets/gauge/paladin2.jpg" id="gauge">
</div>
<div class="lore"><p class="header">Stat Prioritization, Materia, and Job Guide</p>
<p></p>
<p></p>
</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>
<p></p>
</div>
<!--trait & cross role-->
<div class="lore"><p class="header">Traits</p>
<!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>