<div class='samuraiback'></div>
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

    <!--job name-->
<div>
    <p class="jobname">Samurai</p>
</div>
    <!--table of contents-->
    <!--basic lore-->
<div class="lore">
    <p class="header">Lore</p>
    <p>"In the distant past, the realm's great lords vied for supremacy over its sea-girt confines in a long and bloody conflict. And taking to battle in their lieges' names were noble swordsmen whose art was forged in the crucible of war: the samurai. Eventually, the nation was unified under one banner, and these warriors came to wield their katana not upon fields as part of an army, but upon streets as protectors of the peace. But as a neglected blade grows dull with rust, so too do men forget their purpose. Amidst waning memories of the old ways, a determined few hold fast to their convictions, hands by katana grips, awaiting the moment for steel to sing." - Game Description</p>
</div>

    <!--stats needed weapon materia-->
<div class="lore">
    <p class="header">Basic Info</p>
    <p>Samurai uses a katana elegantly with precision and patience.</p>
</div>
    <!--job playstyle/description gauge included-->
<div class="lore">
    <p class="header">Gameplay & Playstyle</p>
    <div>Samurai focuses on building both a kenki gauge and Sen (the symbols). Samurai can single handedly deal massive damage and needs to manage both gauges to unlock it's potential.</div>
    <img src="../core/assets/gauge/samurai.jpg" id="gauge">
</div>
    <!-- STATS & MATERIA ADD LINK TO STAT PAGE -->
<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>
    <!--ACTIONS-->
<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>
    <!--TRAIT & CROSS ROLE-->
<div class="lore">
    <p class="header">Traits</p>
    <!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>