<div class='summonerback'></div>
<div class="background"></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<div>
<p class="jobname">Summoner</p>
<p></p>
</div>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>
<p>“The beast tribes of Eorzea worship and summon forth beings known as primals, among which are Ifrit, Garuda, and Titan. Yet what is a god to one man is a demon to another, for the city-states of Eorzea see these beings as a grave threat to their collective survival. 
In times immemorial, there lived mages who had not only the power to summon the primals, but also the means to transmute the primals' essences, thus binding them to their will. Known simply as summoners, the existence of these men and women and their arcane art have been all but lost to the ages.”-Game Description</p>
</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>
<p></p>
</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
<div></div>
<img src="../core/assets/gauge/summoner.jpg" id="gauge">
</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>
<p></p>
</div>
<!--trait & cross role-->
<div class="lore"><p class="header">Traits</p>
<!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>