<div class='summonerback'></div>
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

    <!--job name-->
<div>
    <p class="jobname">Summoner</p>
</div>
    <!--table of contents-->
    <!--basic lore-->
<div class="lore">
    <p class="header">Lore</p>
    <p>“The beast tribes of Eorzea worship and summon forth beings known as primals, among which are Ifrit, Garuda, and Titan. Yet what is a god to one man is a demon to another, for the city-states of Eorzea see these beings as a grave threat to their collective survival. 
    In times immemorial, there lived mages who had not only the power to summon the primals, but also the means to transmute the primals' essences, thus binding them to their will. Known simply as summoners, the existence of these men and women and their arcane art have been all but lost to the ages.”-Game Description</p>
</div>

    <!--stats needed weapon materia-->
<div class="lore">
    <p class="header">Basic Info</p>
    <p>Summoners are able to summon powerful primals to their side both as a source of damage and utility. The role of a Summoner is to have aether flow through their veins and unleash the primal energy they have mastered.</p>
</div>
    <!--job playstyle/description gauge included-->
    <div class="lore"><p class="header">Gameplay & Playstyle</p>
    <div>Summoner is a mix of a pet job meaning uses a pet as part of its kit and a job that focuses on damage over time effects (DoTs). Summoners mix in certain DoTs and a have a pet dealing damage and using some utility moves while also building and using Aetherflow which opens up more powerful spells. On top of that those spells open up more and eventually summoner can summon Bahamut! Summoner is a very momentum driven job. Building your aetherflow in timely fashion is the bread and butter.</div>
    <img src="../core/assets/gauge/summoner.jpg" id="gauge">
</div>
    <!-- STATS & MATERIA ADD LINK TO STAT PAGE -->
<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>
    <!--ACTIONS-->
<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>
    <!--TRAIT & CROSS ROLE-->
<div class="lore">
    <p class="header">Traits</p>
    <!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>