<div class='warriorback'></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<div>
<p class="jobname">Warrior</p>
<p></p>
</div>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>
<p>“On the northernmost edge of Abalathia's Spine exists a mountain tribe renowned for producing fearsome mercenaries. Wielding greataxes and known as warriors, these men and women learn to harness their inner-beasts and translate that power to unbridled savagery on the battlefield.
In former times which saw war waged ceaselessly in Eorzea, the warriors featured prominently on the frontlines of battle. With the arrival of peacetime, however, their art has descended into the shadows of obscurity, where it remains to this day.” - Game Description</p>
</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>
<p>Warrior with a Greataxe in hand is your head first tank. Charging in dishing out and taking it warrior is the most reckless of tanks</p>
</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
<div>Warrior is about big numbers. Warrior relies less on high defense or mitigation and rather focuses on sustaining through lifesteal and a large health pool. Warrior's job gauge is the beast gauge. Warrior uses the beast gauge for it's most devastating attacks such as Fell Cleave and Decimate, it also gives access to your most potent lifesteal such as Inner Beast and Steel Cyclone.</div>
<img src="../core/assets/gauge/warrior1.png" id="gauge">
<img src="../core/assets/gauge/warrior2.png" id="gauge">
</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>
<p></p>
</div>
<!--trait & cross role-->
<div class="lore"><p class="header">Traits</p>
<!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>