<div class='whitemageback'></div>
<div class="background"></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<div>
<p class="jobname">White Mage</p>
<p></p>
</div>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>
<p>“White magic, the arcane art of succor, was conceived eras past that the world might know comfort. Alas, man began perverting its powers for self-gain, and by his wickedness brought about the Sixth Umbral catastrophe. Although the art subsequently became forbidden, it is now in the midst of a revival at the hands of the Padjal, chosen of the elementals.
Those who would walk the path of the white mage are healers without peer, possessed of the power to deliver comrades from the direst of afflictions—even the icy grip of death itself.” -Game Description</p>
</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>
<p>If someone says "I need healing" the correct answer is White Mage. White Mage has the most powerful heals in the game. Sometimes capable of solo healing even the hardest content in game.</p>
</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>
<div>White Mage provides little to no utility to the team but provides massive heals. Able to both heal groups using Medica II, Assize, and more while also handling single targets with spells tetragramation and benediction. White Mage also provides strong healing over time spells allowing a brief time to dps. White Mage also brings one of the best aoe damage from a healer from Holy which stuns and does large damage. White Mage utilize the Lily Gauge which when using a cure I or cure II u gain lillies which can be used to lower your cooldowns making white mage able to use more of it's healing without risking too much.</div>
<img src="../core/assets/gauge/whitemage.png" id="gauge">
</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>
<p></p>
</div>
<!--trait & cross role-->
<div class="lore"><p class="header">Traits</p>
<!-- <p ng-repeat="act in actions">{{act.name}}</p> -->
</div>