<!-- <div class='bardback'></div> -->
<div class="background"></div>
<span class="return">
    <a ui-sref="ffjobs">Return to Jobs</a>
</span>

<div>
    <p class="jobname">{{data[x].job}}</p>
</div>

<div class="lore">
    <p class="header">Lore</p>
    <p>{{data[x].lore}}</p>
</div>

<div class="lore">
    <p class="header">Basic Info</p>
    <p>{{data[x].info}}</p>
</div>
    
<div class="lore">
    <p class="header">Gameplay & Playstyle</p>
    <p>{{data[x].gameplay}}</p>
    <!-- <img src="../core/assets/gauge/bard.png" id="gauge"> -->
</div>

<div class="lore">
    <p class="header">Stat Prioritization, Materia, and Job Guide</p>
    <p><a ui-sref="stats">Here</a></p>
</div>

<div class="lore">
    <p class="header">Actions & Abilities</p>
    <p></p>
</div>

<div class="lore">
    <p class="header">Traits</p>
</div>