<p>Jobs</p>
<p>Jobs are ...</p>
<p>Melee</p>
<div class="tanks">
<div>Tanks
    <li>Paladin</li>
    <li>Warrior</li>
    <li>Dark Knight</li>

</div>
</div>
<div>Melee DPS
    <li>Monk</li>
    <li>Dragoon</li>
    <li>Ninja</li>
    <li>Samurai</li>
</div>
<p>Ranged</p>
<div>Ranged Physical DPS
    <li>Bard</li>
    <li>Machinist</li>
</div>
<div>Ranged Caster DPS
    <li>Black Mage</li>
    <li>Summoner</li>
    <li>Red Mage</li>
</div>
<div>
    <li>White Mage</li>
    <li>Scholar</li>
    <li>Astrologian</li>
</div>