<div class="jobback"></div>
<div class="jobheader"></div>
<div class="jobintro">Jobs
<p class="jobdesc">Jobs or in other games known as classes are the decider in your charachters fighting style and how you can affect the battlefield. Each job brings it's own unique abilities, traits and role.</p></div>
<div class="tanktext">Tanks</div>
<div class="tanks">
    <li><a ui-sref="paladin"><p>Paladin</p></a></li>
    <li><a ui-sref="warrior"><p>Warrior</p></a></li>
    <li><a ui-sref="darkknight"><p>Dark Knight</p></a></li>

</div>
<div class="meleetext">Melee DPS</div>
<div class="meleedps">
    <li><a ui-sref="monk"><p>Monk</p></a></li>
    <li><a ui-sref="dragoon"><p>Dragoon</p></a></li>
    <li><a ui-sref="ninja"><p>Ninja</p></a></li>
    <li><a ui-sref="samura"><p>Samurai</p></a></li>
</div>
<div class="rangedtext">Ranged Physical DPS</div>
<div class="rangeddps">
    <li><a ui-sref="bard"><p>Bard</p></a></li>
    <li><a ui-sref="machinist"><p>Machinist</p></a></li>
</div>
<div class="castertext">Ranged Caster DPS</div>
<div class="casterdps">
    <li><a ui-sref="blackmage"><p>Black Mage</p></a></li>
    <li><a ui-sref="summoner"><p>Summoner</p></a></li>
    <li><a ui-sref="redmage"><p>Red Mage</p></a></li>
</div>
<div class="healertext">Healers</div>
<div class="healer">
    <li><a ui-sref="whitemage"><p>White Mage</p></a></li>
    <li><a ui-sref="scholar"><p>Scholar</p></a></li>
    <li><a ui-sref="astrologian"><p>Astrologian</p></a></li>
</div>