<p>Jobs</p>
<p>Jobs are ...</p>
<div>Tanks</div>
<div class="tanks">
    <li>Paladin</li>
    <li>Warrior</li>
    <li>Dark Knight</li>

</div>
<div>Melee DPS</div>
<div class="meleedps">
    <li>Monk</li>
    <li>Dragoon</li>
    <li>Ninja</li>
    <li>Samurai</li>
</div>
<div>Ranged Physical DPS</div>
<div class="rangeddps">
    <li>Bard</li>
    <li>Machinist</li>
</div>
<div>Ranged Caster DPS</div>
<div class="casterdps">
    <li>Black Mage</li>
    <li>Summoner</li>
    <li>Red Mage</li>
</div>
<div>Healers</div>
<div class="healer">
    <li>White Mage</li>
    <li>Scholar</li>
    <li>Astrologian</li>
</div>