<div class="jobback"></div>
<div class="jobheader"></div>
<div class="jobintro">Jobs</div>
<div class="jobdesc">Jobs or in other games known as classes are the decider in your charachters fighting style and how you can affect the battlefield. Each job brings it's own unique abilities, traits and role.</div>

<div class="tanktext">Tanks</div>
<div class="tanks">
    <div class="minidesc">Able to hold an enemy's attention tanks are the first in and last out. Every tank has the ability to mitigate damage and hold aggro providing a secure hold for the party.</div>
    <li><a ui-sref="paladin"><img src="../core/assets/jobicons/palicon.png" class="jobicon"><p>Paladin</p></a></li>
    <li><a ui-sref="warrior"><img src="../core/assets/jobicons/waricon.png" class="jobicon"><p>Warrior</p></a></li>
    <li><a ui-sref="darkknight"><img src="../core/assets/jobicons/drkicon.png" class="jobicon"><p>Dark Knight</p></a></li>
</div>

<div class="healertext">Healers</div>
<div class="healer">
    <div class="minidesc">Providing mainly restorative magic to the party a healer keeps the party healed after large attacks and can reduce the brunt of large attacks.ssd</div>
    <li><a ui-sref="whitemage"><img src="../core/assets/jobicons/whmicon.png" class="jobicon"><p>White Mage</p></a></li>
    <li><a ui-sref="scholar"><img src="../core/assets/jobicons/schicon.png" class="jobicon"><p>Scholar</p></a></li>
    <li><a ui-sref="astrologian"><img src="../core/assets/jobicons/asticon.png" class="jobicon"><p>Astrologian</p></a></li>
</div>

<div class="meleetext">Melee DPS</div>
<div class="meleedps">
    <div class="minidesc">Melee DPS are solely focused on dealing damage constantly. Many melee dps have directional attack bonuses and decent mobility to avoid attacks while staying up close and personal.</div>
    <li><a ui-sref="monk"><img src="../core/assets/jobicons/mnkicon.png" class="jobicon"><p>Monk</p></a></li>
    <li><a ui-sref="dragoon"><img src="../core/assets/jobicons/drgicon.png" class="jobicon"><p>Dragoon</p></a></li>
    <li><a ui-sref="ninja"><img src="../core/assets/jobicons/ninicon.png" class="jobicon"><p>Ninja</p></a></li>
    <li><a ui-sref="samurai"><img src="../core/assets/jobicons/samicon.png" class="jobicon"><p>Samurai</p></a></li>
</div>

<div class="rangedtext">Ranged Physical DPS</div>
<div class="rangeddps">
    <div class="minidesc">These are the closest you will get to a support. Providing many party wide buffs such as damage, Mp Regen, and even damage reduction while also dealing a more consistant slow damage flow.</div>
    <li><a ui-sref="bard"><img src="../core/assets/jobicons/brdicon.png" class="jobicon"><p>Bard</p></a></li>
    <li><a ui-sref="machinist"><img src="../core/assets/jobicons/mchicon.png" class="jobicon"><p>Machinist</p></a></li>
</div>

<div class="castertext">Ranged Magical DPS</div>
<div class="casterdps">
    <div class="minidesc">The most immobile DPS of th bunch have decent cast times unable to move while attacking. However these damage dealers can deal high bursts of damage and utility like raising teammates.</div>
    <li><a ui-sref="blackmage"><img src="../core/assets/jobicons/blmicon.png" class="jobicon"><p>Black Mage</p></a></li>
    <li><a ui-sref="summoner"><img src="../core/assets/jobicons/smnicon.png" class="jobicon"><p>Summoner</p></a></li>
    <li><a ui-sref="redmage"><img src="../core/assets/jobicons/rdmicon.png" class="jobicon"><p>Red Mage</p></a></li>
</div>

<div class="lengthen">hello</div>