<!-- <div class='jobsback'></div>
<div ng-repeat="job in jobs">{{job.name_en}}</div>
<strong>Tank</strong>
<ul class="joblist">
    <div class="list"><li><a ui-sref="paladin"><p>Paladin</p><img src="../core/assets/jobpage/paladin.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="warrior"><p>Warrior</p><img src="../core/assets/jobpage/warrior.png"></a></li></div>
    <div class="list"><li><a ui-sref="darkknight"><p>Dark Knight</p><img src="../core/assets/jobpage/darkknight.png"></a></li></div>
</ul>

<strong>Melee physical DPS</strong>
<ul class="joblist">
    <div class="list"><li><a ui-sref="monk"><p>Monk</p><img src="../core/assets/jobpage/monk.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="dragoon"><p>Dragoon</p><img src="../core/assets/jobpage/dragoon.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="ninja"><p>Ninja</p><img src="../core/assets/jobpage/ninja.png"></a></li></div>
    <div class="list"><li><a ui-sref="samurai"><p>Samurai</p><img src="../core/assets/jobpage/samurai.png"></a></li></div>
</ul>

<strong>Ranged physical DPS</strong>
<ul class="joblist">
    <div class="list"><li><a ui-sref="bard"><p>Bard</p><img src="../core/assets/jobpage/bard.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="machinist"><p>Machinist</p><img src="../core/assets/jobpage/machinist.jpg"></a></li></div>
</ul>

<strong>Caster DPS</strong>
<ul class="joblist">
    <div class="list"><li><a ui-sref="blackmage"><p>Black Mage</p><img src="../core/assets/jobpage/blackmage.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="summoner"><p>Summoner</p><img src="../core/assets/jobpage/summoner.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="redmage"><p>Red Mage</p><img src="../core/assets/jobpage/redmage.jpg"></a></li></div>
</ul>

<strong>Healer</strong>
<ul class="joblist">
    <div class="list"><li><a ui-sref="whitemage"><p>White Mage</p><img src="../core/assets/jobpage/whitemage.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="scholar"><p>Scholar</p><img src="../core/assets/jobpage/scholar.jpg"></a></li></div>
    <div class="list"><li><a ui-sref="astrologian"><p>Astrologian</p><img src="../core/assets/jobpage/astrologian.jpg"></a></li></div>
</ul> -->
