<div class='machinistback'></div>
<span class="return"><a ui-sref="ffjobs">Return to Jobs</a></span>

<!--job name-->
<p class="jobname">Machinist</p>
<!--table of contents-->
<!--basic lore-->
<div class="lore"><p class="header">Lore</p>

</div>

<!--stats needed weapon materia-->
<div class="lore"><p class="header">Basic Info</p>

</div>
<!--job playstyle/description gauge included-->
<div class="lore"><p class="header">Gameplay & Playstyle</p>

</div>
<!--actions-->
<div class="lore"><p class="header">Actions & Abilities</p>

</div>
<!--trait-->
<div class="lore"><p class="header">Traits</p>

</div>