<h1>Stats and Materia</h1>

<!--Basic Stats  -->
<h2>Basic Stats</h2>
<p class="statdef"></p>


<h3 class="statname">HP</h3>
<p class="statdef">HP stands for Hit Points or Health Points. When you take damage it will reduce your HP. If your HP reaches zero your charachter will die, being unable to perform any actions.</p>

<h3 class="statname">MP</h3>
<p class="statdef">MP stands for Mana Points or Mana Pool. Mana is used for most magic actions ex: Cure, Fire, ect. If you do not have sufficient Mana to cast your spell you won't be able to start casting.</p>

<h3 class="statname">TP</h3>
<p class="statdef">TP stands for Techinical Points. TP is used by mainly classes who use weapons for damage and is used upon execution of a weapon skill.</p>

<h3 class="statname">Block</h3>
<p class="statdef"></p>

<h3 class="statname">Parry</h3>
<p class="statdef"></p>

<h3 class="statname">Physical Defense</h3>
<p class="statdef">Reduces damage taken from incoming Physical Attacks</p>

<h3 class="statname">Magic Defense</h3>
<p class="statdef">Reduces damage taken from incoming Magical Attacks</p>

<h3 class="statname">Attack Power</h3>
<p class="statdef">Attack Power increases damage from outgoing Physical Attacks</p>

<h3 class="statname">Attack Magic Potency</h3>
<p class="statdef">Increases damage dealt from outgoing Magical Attacks</p>

<h3 class="statname">Healing Magic Potency</h3>
<p class="statdef">Increases healing done from outgoing Healing Spells (not all healing actions scale off Healing Magic Potency)</p>


<!--Primary Stats  -->
<h2>Primary Stats</h2>
<p class="statdef"></p>

<h3 class="statname">Strength</h3>
<p class="statdef">Strength is the primary damage dealing stat for all tanks and melee jobs except Ninja. Strength has a 1 to 1 weight meaning 1 strength equals 1 attack power. Strength also increases the amount of damage you mitigate when you block or parry an enemy attack.</p>

<h3 class="statname">Dexterity</h3>
<p class="statdef">Dexterity is the primary damage dealing stat for Bard, Ninja, and Machinist. Dexterity also increases the rate at which you block and parry. Dexterity has a 1 to 1 weight to attack power</p>

<h3 class="statname">Vitality</h3>
<p class="statdef">Vitality directly increases your HP.</p>

<h3 class="statname">Intelligence</h3>
<p class="statdef">Intelligence is the primary offensive stat for Caster DPS. Intelligence directly affects Magic Attack Potency for these Classes</p>

<h3 class="statname">Mind</h3>
<p class="statdef">Mind is the primary stat for healers. For healers Mind directly effects Attack Magic Potency and Healing Magic Potency.</p>


<!--Secondary Stats  -->
<h2>Secondary Stats</h2>
<p class="statdef"></p>

<h3 class="statname">Critical Hit</h3>
<p class="statdef">Critical Hit Rate increases the chance of an attack dealing critical damage and increases the damage of a critical hit. </p>

<h3 class="statname">Determination</h3>
<p class="statdef">Determination increases the amount of damage dealt by all attacks auto-attacks, weaponskills, spells, ect. It also increases the amount of HP recovered by spells.</p>

<h3 class="statname">Direct Hit</h3>
<p class="statdef">Direct Hit increases chance of landing a "Direct Hit", think of it as a mini critical hit</p>

<h3 class="statname">Tenacity</h3>
<p class="statdef">Tenacity is on tank gear only and it increases damage dealt, reduces damage taken, and HP restored. Currently it seems that for every 200 tenactiy is a 1% increase for the effects. </p>

<h3 class="statname">Skill Speed</h3>
<p class="statdef">Skill Speed reduces the cast time and cooldown of weaponskills. It also increases Physical DoT's (Damage over Time) damage per tick.</p>

<h3 class="statname">Spell Speed</h3>
<p class="statdef">Spell Speed reduces the cast time and cooldown of spells. It also increases Magical DoT and HoT's damage/healing per tick.</p>

<h3 class="statname">Piety</h3>
<p class="statdef">Piety Directly increases MP</p>