.paladinback{
    position: fixed;
    background-image: url("../core/assets/back/paladinback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.68;
    z-index: -1;
}
.warriorback{
    position: fixed;
    background-image: url("../core/assets/back/warriorback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.darkknightback{
    position: fixed;
    background-image: url("../core/assets/back/darkknightback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.monkback{
    position: fixed;
    background-image: url("../core/assets/back/monkback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.dragoonback{
    position: fixed;
    background-image: url("../core/assets/back/dragoonback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.ninjaback{
    position: fixed;
    background-image: url("../core/assets/back/ninjaback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.samuraiback{
    position: fixed;
    background-image: url("../core/assets/back/samuraiback.png-small");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.bardback{
    position: fixed;
    background-image: url("../core/assets/back/bardback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.machinistback{
    position: fixed;
    background-image: url("../core/assets/back/machinistback.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.blackmageback{
    position: fixed;
    background-image: url("../core/assets/back/blackmageback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.summonerback{
    position: fixed;
    background-image: url("../core/assets/back/summonerback.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.redmageback{
    position: fixed;
    background-image: url("../core/assets/back/redmageback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.whitemageback{
    position: fixed;
    background-image: url("../core/assets/back/whitemageback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.scholarback{
    position: fixed;
    background-image: url("../core/assets/back/scholarback.png");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}
.astrologianback{
    position: fixed;
    background-image: url("../core/assets/back/astrologianback.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top:50px;
    opacity:0.83;
    z-index: -1;
}