.jobheader{
    position: absolute;
    background-color: lightgray;
    width:100vw;
    height: 110px;
    top:60px;
    opacity: 0.28;
    z-index: -1;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}
.jobintro{
    font-size:25px;
    font-weight:bold;
    position: absolute;
    width:100vw;
    top:70px;
    text-align: center;
}
.jobdesc{
    margin:0 auto;
    padding-top:43px;
    text-align: center;
    width:525px;
    font-size: 20px;
}
.jobicon{
    width:35px;
    height:35px;
}
.minidesc{
    font-size:18px;
    padding-left:12px;
    width:290px;
    padding-top:5px;
    padding-bottom:5px;
}
.lengthen{
    position: absolute;
    top:880px;
    visibility: hidden;
}
.tanks{
    position:absolute; 
    width:295px;
    top:210px;
    left:18%;
    height:270px;
    border: 2px solid rgba(0, 0, 0, 0.50);
    background-color: rgba(47,61,123,0.6);
    border-radius: 10px;
}
.tanktext{
    position: absolute;
    left:20%;
    width:230px;
    top:180px;
    text-align: center;
    font-size:23px;
    font-weight:bold;
}

.tanks li{
    padding-top:15px;
    padding-left:7px;
    font-size: 21px;
}
.tanks img{
    vertical-align: middle;
}
.tanks p{
    vertical-align: middle;
    display: inline;
    padding-left:15px;
}
.healer{
    position:absolute;
    right:18%;
    top:210px;
    width:295px;
    height:270px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(40, 148, 46, 0.70);
    border-radius: 10px;
}
.healertext{
    position: absolute;
    right:20%;
    top:180px;
    width:230px;
    text-align: center;
    font-size:23px;
    font-weight:bold;
}
.healer li{
    padding-top:15px;
    font-size:21px;
    padding-left:7px;
}
.healer img{
    vertical-align: middle;
}
.healer p{
    vertical-align: middle;
    display: inline;
    padding-left:15px;
}
.meleedps{
    position:absolute;
    left:6%;
    top:540px;
    width:295px;
    height:300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(163,51,51,0.7);
    border-radius: 10px;
}
.meleetext{
    position: absolute;
    left:9%;
    top:510px;
    width:230px;
    text-align: center;
    font-size:23px;
    font-weight:bold;
}
.meleedps li{
    padding-top:5px;
    font-size:20px;
    padding-left:7px;
}
.meleedps img{
    vertical-align: middle;
}
.meleedps p{
    vertical-align: middle;
    display: inline;
    padding-left:15px;
}
.rangeddps{
    position:absolute;
    left:39%;
    top:540px;
    width:295px;
    height:300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(163,51,51,0.7);
    border-radius: 10px;
}
.rangedtext{
    position: absolute;
    left:41%;
    top:510px;
    width:250px;
    text-align: center;
    font-size:23px;
    font-weight:bold;
}
.rangeddps li{
    padding-top:25px;
    font-size:20px;
    padding-left:7px;
}
.rangeddps img{
    vertical-align: middle;
}
.rangeddps p{
    vertical-align: middle;
    display: inline;
    padding-left:15px;
}
.casterdps{
    position:absolute;
    right:6%;
    top:540px;
    width:295px;
    height:300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(163,51,51,0.7);
    border-radius: 10px;
}
.castertext{
    position: absolute;
    right:9%;
    width:230px;
    top:510px;
    text-align: center;
    font-size:23px;
    font-weight:bold;
}
.casterdps li{
    padding-top:15px;
    font-size:20px;
    padding-left:7px;
}
.casterdps img{
    vertical-align: middle;
}
.casterdps p{
    vertical-align: middle;
    display: inline;
    padding-left:15px;
}
