.jobheader{
    position: absolute;
    background-color: lightgray;
    width:100vw;
    height: 110px;
    top:60px;
    opacity: 0.28;
    z-index: -1;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
}
.jobintro{
    font-size:25px;
    font-weight:bold;
    position: absolute;
    width:100vw;
    top:70px;
    text-align: center;
}
.jobdesc{
    margin:0 auto;
    padding-top:43px;
    text-align: center;
    width:525px;
    font-size: 20px;
}
.jobicon{
    width:35px;
    height:35px;
}
.minidesc{
    font-size:18px;
    text-align: center;
    padding-top:3px;
}
.lengthen{
    position: absolute;
    top:880px;
    visibility: hidden;
}
.jobrow1{
    margin-top:30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}
.jobrow2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
    align-content: space-around;
}
.test1{
    margin-top:3px;
    text-align: center;
    font-size: 23px;
}
.tanks{
    width:295px;
    height:280px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(72, 39, 197, 0.70);
    border-radius: 10px;
    margin-bottom:10px;
}
.tanks li{
    padding-top:15px;
    padding-left:7px;
    font-size: 21px;
    vertical-align: middle;
}
.tanks p{display: inline; padding-left:15px;}
.tanks img{vertical-align: middle;}
.healer{
    width:295px;
    height:280px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(40, 148, 46, 0.70);
    border-radius: 10px;
}
.healer li{
    padding-top:15px;
    font-size:21px;
    padding-left:7px;
    vertical-align: middle;
}
.healer img{vertical-align: middle;}
.healer p{display: inline; padding-left:15px;}
.meleedps{
    width:295px;
    height:300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(163,51,51,0.7);
    border-radius: 10px;
    margin-bottom:10px;
}
.meleedps li{
    padding-top:7px;
    font-size:20px;
    padding-left:7px;
    vertical-align: middle;
}
.meleedps img{vertical-align: middle;}
.meleedps p{display: inline; padding-left:15px;}
.rangeddps{
    width:295px;
    height:300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(163,51,51,0.7);
    border-radius: 10px;
    margin-bottom:10px;
}
.rangeddps li{
    padding-top:25px;
    font-size:20px;
    padding-left:7px;
    vertical-align: middle;
}
.rangeddps img{vertical-align: middle;}
.rangeddps p{display: inline; padding-left:15px;}
.casterdps{
    width:295px;
    height:300px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(163,51,51,0.7);
    border-radius: 10px;
    margin-bottom:10px;
}
.casterdps li{
    padding-top:15px;
    font-size:20px;
    padding-left:7px;
    vertical-align: middle;
}
.casterdps img{vertical-align: middle;}
.casterdps p{display: inline; padding-left:15px;}
