.nav1{
    background-color: rgb(20,20,20);
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: 15px;
    width: 100%;
    height: 20px;
    z-index: 1;
    position:fixed;
    padding-right:25px;
    padding-left:25px;
    top:0px;
}
.nav2{
    background-color: rgb(20,20,20);
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    font-size: 25px;
    width: 100%;
    height: 30px;
    z-index: 1;
    position:fixed;
    padding-right:10px;
    top: 20px;

}
.nav1 a{
    text-decoration: none;
    color:white;
}
.nav2 a{
    text-decoration: none;
    color:white;
}
.feedback{
    // visibility: hidden;
    position: fixed;
    bottom: 44px;
    right: 0px;
}
.toggle{
    position: fixed;
    bottom: 0px;
    right:0px;
}
button{
    // color:$btn-color;
    border-radius: 10px;
}
.background{
    position: fixed;
    background-color: lightgray;
    background-size: cover;
    height: 105vh;
    width: 85vw;
    bottom:-5px;
    left:7vw;
    opacity:0.33;
    z-index: -1;
    border:2px solid red;
}
